<script setup>
import { ref } from 'vue';

    const props = defineProps({
        header: {type: String, required: true},
        open: {type: Boolean, default: false},
    });

    const isOpen = ref(props.open);

    const toggleOpen = () => {
        isOpen.value = !isOpen.value;
    }

    const closeOpen = () => {
        isOpen.value = false;
    }

    defineExpose({closeOpen});
</script>
<template>
    <div>
        <h2>
            <slot name="header"></slot>
            <button @click="toggleOpen">X</button>
        </h2>
        <div v-if="isOpen">
            <slot></slot>
        </div>
    </div>
    
</template>