<script setup>
    import { ref } from 'vue';
    const inputText = ref('');
    const emit = defineEmits(['created']);

    const onInput = (event) => {
        inputText.value = event.target.value;
    }
    const onCreated = () => {
        emit('created', inputText.value);
    }
</script>
<template>
    <input type="text" v-on:input="onInput" @keydown.enter="onCreated()">
    <button type="button" @click="onCreated()">Dodaj Sekcję</button>
</template>