<script setup>
    import { ref } from 'vue';

    const props = defineProps({
        sectionIndex: {type: Number, required: true},
    });

    const inputText = ref('');
    const emit = defineEmits(['created']);

    const onInput = (event) => {
        inputText.value = event.target.value;
    }

    const onCreated = () => {
        emit('created', inputText.value, props.sectionIndex);
    }
</script>
<template>
    <input type="text" v-on:input="onInput" @keydown.enter="onCreated()">
    <button type="button" @click="onCreated()">Dodaj Zadanie</button>
</template>