<script setup>
import { ref } from 'vue';

    const props = defineProps({
        index: {type: Number, required: true},
        text: {type: String, required: true},
        finished: {type: Boolean, required: true, default: false}
    });

    const emit = defineEmits(['changed']);

    const finishedText = ref("");
    if(props.finished){
            finishedText.value = "Odznacz";
        }
        else {
            finishedText.value = "Ukończ";
        }

    const onChanged = (index) => {
        if(props.finished){
            finishedText.value = "Ukończ";
        }
        else {
            finishedText.value = "Odznacz";
        }

        emit('changed', index);
    }
</script>
<template>
    <li v-if="props.text">
        <template v-if="props.finished">
            <s>{{ props.text }}</s>
        </template>
        <template v-else>
            {{ props.text }}
        </template>
        <button type="button" @click="onChanged(props.index)">{{finishedText}}</button>
    </li>
</template>