<script setup>
import { computed, ref, watch } from 'vue';
import TodoItem from './components/TodoItem.vue';
import TodoInput from './components/TodoInput.vue';
import Accordion from './components/Accordion.vue';
import SectionInput from './components/SectionInput.vue';

    const todos = ref([
      {
        name: 'Dom',
        tasks:
        [
          {
            text: 'Odkurzyć pokój',
            finished: true,
          },
          {
            text: 'Wynieść śmieci',
            finished: false,
          },
        ],
      },
      {
        name: 'Szkoła',
        tasks:
        [
          {
            text: 'Zrobić matmę',
            finished: false,
          },
        ],
      },
      {
        name: 'Inne',
        tasks:
        [
          {
            text: 'Zjeść kanapkę',
            finished: false,
          },
          {
            text: 'Wyprowadzić jeża na spacer',
            finished: false,
          },
          {
            text: 'Zjeść drugą kanapkę',
            finished: false,
          },
          {
            text: 'Zrobić backflipa',
            finished: false,
          },
        ],
      },
    ]);

    const toggleTaskFinished = (index, sectionIndex) => {
      todos.value[sectionIndex].tasks[index].finished = !todos.value[sectionIndex].tasks[index].finished;
    }

    const countTasks = (tasks) => {
      return tasks.length;
    }

    const countFinishedTasks = (tasks) => {
      return tasks.filter(t => t.finished).length;
    }

    const progressText = (tasks) => {
      if(countTasks(tasks) == 0){
        return 'Brak zadań';
      }
      else if(countFinishedTasks(tasks) == 0){
        return 'Czas się wziąć do roboty';
      }
      else if (countFinishedTasks(tasks) > 0 && countFinishedTasks(tasks) < countTasks(tasks) - 3){
        return 'Robota wre!';
      }
      else if (countFinishedTasks(tasks) >= countTasks(tasks) - 3 && countFinishedTasks(tasks) < countTasks(tasks)) {
        return 'Już prawie koniec…';
      }
      else {
        return 'Fajrant!';
      }
    }

    const addTask = (text, sectionIndex) => {
      console.log(text);
      todos.value[sectionIndex].tasks.push({text: text, finished: false});
    }

    const addSection = (text) => {
      console.log(todos.value);
      todos.value.push({name: text, tasks: []});
    }

    const accordionComponents = ref('');

    const closeAll = () => {
      for(const accordion of accordionComponents.value){
        accordion.closeOpen();
      }
    }
</script>
<template>
  <div>
    <SectionInput v-on:created="addSection"></SectionInput>
    <Accordion v-for="(section, sectionIndex) in todos" v-bind:header="section.name" ref="accordionComponents">
      <template #header>
        {{ section.name }}
        {{ countFinishedTasks(section.tasks) }}/{{ countTasks(section.tasks) }} {{ progressText(section.tasks) }}
      </template>
      <ul>
        <TodoItem
          v-for="(task, index) in section.tasks"
          v-bind:finished="task.finished"
          v-bind:text="task.text"
          v-bind:index="index"
          v-on:changed="toggleTaskFinished(index, sectionIndex)"
        ></TodoItem>
      </ul>
      <TodoInput v-bind:section-index="sectionIndex" v-on:created="addTask"></TodoInput>
    </Accordion>
    <button @click="closeAll">Zamknij Wszystkie</button>
  </div>
</template>